img{
    width: 25px;
    
}
.infosCard-container{
    display: flex;
    align-items: center;
    border: 1px solid rgb(103, 7, 212);
    font-family: Arial, Helvetica, sans-serif;
    height: 90px;
    width: 500px;

}


