*{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: start;
    background-color: rgba(177, 165, 165, 0.637);
    background-color: rgb(240, 86, 14);
}
button{
    margin: 5px;
    padding: 10px ;
    box-shadow: 1px 1px rgba(102, 5, 230, 0.904);
    box-shadow: 2px 1px rgba(102, 15, 216, 0.87);
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 5px;
    column-gap: 5px;
    background-color: rgba(102, 30, 218, 0.781);
    row-gap: 10px;
    column-gap: 15px;
    background: linear-gradient(0deg, rgb(102, 14, 202) 0%, rgba(253,187,45,1) 100%);
}
.legenda-imagem{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    display: grid;
    justify-items: flex-start;

    background-color: rgb(240, 86, 14);
     width: 100%;
} 